.icon {
    margin-left: 2px;
    margin-right: 2px;
    color: #0043ff;
}

.column {
    max-width: 200px;
}
/* Color de la barra de la tabla */
.breadcrumb {
    background-color: #17a2b8;
}

.breadcrumb-item.active {
    color: white;
    font-size: 14px;
}

.panel-info>.panel-heading {
    color: #ffffff;
    /* background-color: #478B52;*/
    /*border-color: #478B52;*/
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: -32px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #333;
    margin-top: 22px;
}

/*  ESTILO DE TABLAS "SHOW"  */
.show-table {
    /*width: 250px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }